body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.hero {
  text-align: center;
}

.hero img {
  width: 150px;
  border-radius: 50%;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

